.container {
  text-align: center;
}
.choose__image__canvas img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}
.result__image__canvas {
  display: flex;
  justify-content: space-around;
}
